*{
    margin: 0px;
}
body{
    background-color: blueviolet;
    font-family: 'popines', sans-serif;
    margin-top: 20px;

}
 h1{
    margin-top: 12rem;
    display: inline-block;
    color: white;

 }

 form{
    display: block;
    margin-top: 3rem;
 }
 